<div class="content">
  <div class="container">
    <div class="row">
      <div class="col"><h2 class="mb-5">Table</h2></div>
      <div class="col">
        <button [disabled]="!addUserButton" mat-raised-button color="primary" (click)="openDialog()">Add user</button>
      
    </div>

    <ul  *ngFor="let profile of (profiles$ | async)">
      <li>{{ profile.id }}</li>
    </ul>

   

    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Active</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let profile of profiles ">
            <th scope="row">{{ profile.id }}</th>
            <td class="">{{ profile.firstName }} {{ profile.lastName }}</td>
            <td>
              <mat-slide-toggle  (change)="onChange($event, profile.id)" [checked]="profile.active"></mat-slide-toggle>
            </td>
          </tr>
          <tr scope="row">
            <th scope="row">1</th>
            <td class="">James Yates</td>
            <td>
              <mat-slide-toggle></mat-slide-toggle>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
